.fondo{
	background: url(../img/home.jpg);	
	background-size: 100% 100%;
	text-align: center;
	width: 100%;
	height: 400px;
	color: white;
	padding: 2%;
}
.transparente{
	background-color: rgb(0,0, 0,);
	opacity: 1;
}
.verde{
	background-color: #3FD9AB;
	color: white;
	text-align: center;
	padding: 3%;
}
.grande{
	font-size: 3em;
	margin-bottom: 5%;
}
.texto{
	border: 1px dashed black;
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 2%;
	text-align: center;
}
.contorno{
	border: 1px dashed black;
	padding: 1%;
}
h2{
	text-align: center;

}
.azul{
	color: #00aced;
}
footer{
	background-color: #BBB5B5;
	margin-top: 3%;
	padding: 1%;
}
.face{
	background-color: #3b5998;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: solid 1px #3b5998;
}
.twi{
	background-color: #55acee;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: solid 1px #55acee;
	
}
.link{
	background-color: #007bb5;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: solid 1px #007bb5;
}
.cen{
	text-align: center;
}
.marco{
	border: solid 1px black;
	padding:0%;
}
.rojo{
	color: #D71449;
}